<h1>Payments</h1>
<table id="transactions" class="display" data-source="<%= admin_transactions_url(format: "json") %>">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>User Email</th>
      <th>User Phone</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Transaction ID</th>
    </tr>
  </thead>
  <tbody>
  	<% @transactions.each do |transaction| %>
  		<tr>
  			<td>
  				<%= transaction.order.id %>
  				<%= transaction.email%>
  				<%= transaction.phone %>
  				<%= transaction.amount %>
  				<%= transaction.txn_status %>
  				<%= transaction.txn_id %>
  			</td>
  		</tr>
  	<% end %>
  </tbody>
</table>
<script>
  $('#transactions').dataTable
    sPaginationType: "full_numbers"
    bJQueryUI: true
    bProcessing: true
    bServerSide: true
    sAjaxSource: $('#transactions').data('source')

</script>